<div id="gm-manager" class="flex">
  <header class="window-header flexrow draggable app-title-bar">
  </header>
  
  {{#if (isEnabled "FortuneAvailable")}}
    <br>
    <label class="resource-label">{{localize "CTHACK.Fortune"}} : {{getFortuneValue}}</label>
  {{/if}}

  <table>
    <thead>
      <tr>
        <th>{{localize "GMMANAGER.Player"}}</th>
        <th>{{localize "GMMANAGER.Character"}}</th>
        <th class="gm-resource-all" data-resource="FlashLights">{{localize "CTHACK.FlashLights"}}</th>
        <th class="gm-resource-all" data-resource="Smokes">{{localize "CTHACK.Smokes"}}</th>
        <th class="gm-resource-all" data-resource="Sanity">{{localize "CTHACK.Sanity"}}</th>
        <th class="gm-resource-all" data-resource="Miscellaneous">{{#if (isEnabled "MiscellaneousResource")}}{{getMiscellaneousValue}}{{else}}{{localize "CTHACK.Wealth"}}{{/if}}</th>
        <th class="gm-resource-all" data-resource="HitDice">{{#if (isEnabled "HitDiceResource")}}{{localize "CTHACK.HitDice"}}{{else}}{{localize "CTHACK.HitPoints"}}{{/if}}</th>
        {{#if (isEnabled "Adrenaline")}}<th class="gm-adr-all" data-resource="Adrenaline">{{localize "GMMANAGER.Adrenaline"}}</th>{{/if}}
        <th class="gm-save-all" data-save="Str">{{localize "CTHACK.SaveStrAbbr"}}</th>
        <th class="gm-save-all" data-save="Dex">{{localize "CTHACK.SaveDexAbbr"}}</th>
        <th class="gm-save-all" data-save="Con">{{localize "CTHACK.SaveConAbbr"}}</th>
        <th class="gm-save-all" data-save="Wis">{{localize "CTHACK.SaveWisAbbr"}}</th>
        <th class="gm-save-all" data-save="Int">{{localize "CTHACK.SaveIntAbbr"}}</th>
        <th class="gm-save-all" data-save="Cha">{{localize "CTHACK.SaveChaAbbr"}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each players as |player|}}
        {{> "systems/cthack/templates/app/gm-player.hbs" player}}
      {{/each}}    
    </tbody>
  </table>
</div>





