{{log 'gm-manager-player' this @root}}
<tr class="character-resume" data-user-id="{{id}}" data-character-name="{{character.name}}" data-character-id="{{character.id}}">
    <td>{{name}}</td>
    <td class="gm-character" data-tooltip="{{character.system.infos}}">{{character.name}}</td>
    <td class="gm-resource-individual" data-resource="flashlights">{{character.system.attributes.flashlights.value}}</td>
    <td class="gm-resource-individual" data-resource="smokes">{{character.system.attributes.smokes.value}}</td>
    <td class="gm-resource-individual" data-resource="sanity">{{character.system.attributes.sanity.value}}</td>
    {{#if (or @root.hasWealthResource @root.hasWealthFixed)}}
        {{#if @root.hasWealthResource}}
            <td class="gm-resource-individual" data-resource="wealthDice">{{character.system.attributes.wealthDice.value}}</td>
        {{else}}
            <td>{{character.system.attributes.wealthDice.value}}</td>
        {{/if}}  
    {{/if}}    
    {{#if @root.hasMisc}}<td class="gm-resource-individual" data-resource="miscellaneous">{{character.system.attributes.miscellaneous.value}}</td>{{/if}}
    {{#if @root.hasHD}}<td class="gm-resource-individual" data-resource="hitDice">{{character.system.attributes.hitDice.value}}</td>{{/if}}
    {{#if @root.hasHP}}<td>{{character.system.hp.value}}</td>{{/if}}
    {{#if (isEnabled "Adrenaline")}}
        <td class="gm-resource-individual" data-resource="Adrenaline">
            <img class="adrenaline-img" src="{{getAdrenalineImage character.system.attributes.adrenaline1.value}}"><img class="adrenaline-img" src="{{getAdrenalineImage character.system.attributes.adrenaline2.value}}">
        </td>
    {{/if}}
    <td class="gm-save-individual" data-save="str">{{character.system.saves.str.value}}</td>
    <td class="gm-save-individual" data-save="dex">{{character.system.saves.dex.value}}</td>
    <td class="gm-save-individual" data-save="con">{{character.system.saves.con.value}}</td>
    <td class="gm-save-individual" data-save="wis">{{character.system.saves.wis.value}}</td>
    <td class="gm-save-individual" data-save="int">{{character.system.saves.int.value}}</td>
    <td class="gm-save-individual" data-save="cha">{{character.system.saves.cha.value}}</td>
</tr>