{{!log 'gm-manager-player' this}}
<tr class="character-resume" data-user-id="{{id}}" data-character-name="{{character.name}}" data-character-id="{{character.id}}">
    <td>{{name}}</td>
    <td>{{character.name}}</td>
    <td class="gm-resource-individual" data-resource="FlashLights">{{character.system.attributes.flashlights.value}}</td>
    <td class="gm-resource-individual" data-resource="Smokes">{{character.system.attributes.smokes.value}}</td>
    <td class="gm-resource-individual" data-resource="Sanity">{{character.system.attributes.sanity.value}}</td>
    {{#if (or @root.hasWealthResource @root.hasWealthFixed)}}<td {{#if hasWealthResource}}class="gm-resource-individual"{{/if}} data-resource="Wealth">{{character.system.attributes.wealthDice.value}}</td>{{/if}}
    {{#if @root.hasMisc}}<td class="gm-resource-individual" data-resource="Miscellaneous">{{character.system.attributes.miscellaneous.value}}</td>{{/if}}
    {{#if @root.hasHD}}<td class="gm-resource-individual" data-resource="HitDice">{{character.system.attributes.hitDice.value}}</td>{{/if}}
    {{#if @root.hasHP}}<td>{{character.system.hp.value}}</td>{{/if}}
    {{#if (isEnabled "Adrenaline")}}
        <td class="gm-resource-individual" data-resource="Adrenaline">
            <img class="adrenaline-img" src="{{getAdrenalineImage character.system.attributes.adrenaline1.value}}"><img class="adrenaline-img" src="{{getAdrenalineImage character.system.attributes.adrenaline2.value}}">
        </td>
    {{/if}}
    <td class="gm-save-individual" data-save="Str">{{character.system.saves.str.value}}</td>
    <td class="gm-save-individual" data-save="Dex">{{character.system.saves.dex.value}}</td>
    <td class="gm-save-individual" data-save="Con">{{character.system.saves.con.value}}</td>
    <td class="gm-save-individual" data-save="Wis">{{character.system.saves.wis.value}}</td>
    <td class="gm-save-individual" data-save="Int">{{character.system.saves.int.value}}</td>
    <td class="gm-save-individual" data-save="Cha">{{character.system.saves.cha.value}}</td>
</tr>