<form class="dialog-roll">
    {{#if advantage}}
    <div class="form-group">
        <label>{{localize "CTHACK.Condition"}}</label>{{localize "CTHACK.AdvantageFromCondition"}}
    </div>
    {{/if}}
    {{#if disadvantage}}
    <div class="form-group">
        <label>{{localize "CTHACK.Condition"}}</label>{{localize "CTHACK.DisadvantageFromCondition"}}
    </div>
    {{/if}}
    {{#if (stringNeitherNullEmpty abilitiesAdvantages)}}
    <div class="form-group">
        <label>{{localize "CTHACK.Advantages"}}</label>{{{abilitiesAdvantages}}}
    </div>
    {{/if}}
    {{#if (eq rollType "Save")}}
    <div class="form-group">
        <label>{{localize "CTHACK.RollModifier"}}</label>
        <input class="field-value" name="modifier" type="text" value="{{modifier}}" data-dtype="Number">
    </div>
    {{/if}}
    <div class="form-group">
        <label>{{ localize "CTHACK.RollMode" }}</label>
        <select name="rollMode">
            {{selectOptions rollModes selected=rollMode localize=true}}            
        </select>
    </div>
</form>
