
    <div class="item-bloc" data-item-id="{{_id}}">
        <div class="item-image"><img src="{{img}}" data-tooltip="{{name}}"/></div>
        <h4 class="item-name">{{name}}</h4>
    </div>    
    <div class="item-element-text">{{magicTypeToString system.subtype}}</div>                         
    <div class="item-element item" data-item-id="{{_id}}">
        {{#if (isDiceRollable system.dice)}} <i class="fas fa-dice-d20 rollable"></i> {{/if}}
        <select class="item-dice-select" name="{{_id}}" data-type="String" {{{getStyleForDice system.dice}}}>
            {{#select system.dice }}
                {{>"systems/cthack/templates/parts/dice-sides-options-value.hbs"}}
            {{/select}}
        </select>
    </div>                
    <div class="item-element-text">{{system.incantation}}</div>
    <div class="item-controls item" data-item-id="{{_id}}">
        <a class="item-control item-edit" data-tooltip="{{localize "CTHACK.Edit"}}"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" data-tooltip="{{localize "CTHACK.Delete"}}"><i class="fas fa-trash"></i></a>
    </div>