{{!-- "flex-group-center" is also defined in the _grid.scss file and it will add a small amount of padding, a border, and will center all of its child elements content and text. --}}
<div class="resource flex-group-center">
    <label class="resource-label resource-name {{#if (isDiceRollable systemData.attributes.flashlights.value)}}rollable{{/if}}" data-resource="flashlights">{{localize "CTHACK.FlashLights"}}<em>{{localize "CTHACK.FlashLightsDesc"}}</em></label>
    <div class="resource-content">
        <select name="data.attributes.flashlights.value" data-type="String" {{{getStyleForDice systemData.attributes.flashlights.value}}} >
        {{#select systemData.attributes.flashlights.value}}
            {{> "systems/cthack/templates/parts/dice-sides-options-value.hbs"}}
        {{/select}}
        </select>
        <span>/</span>
        <select name="data.attributes.flashlights.max" data-type="String" {{{getStyleForDice systemData.attributes.flashlights.max}}} >
        {{#select systemData.attributes.flashlights.max}}
            {{> "systems/cthack/templates/parts/dice-sides-options-max.hbs"}}
        {{/select}}
        </select>
    </div>
</div>                  
<div class="resource flex-group-center">
    <label class="resource-label resource-name {{#if (isDiceRollable systemData.attributes.smokes.value)}}rollable{{/if}}" data-resource="smokes">{{localize "CTHACK.Smokes"}}<em>{{localize "CTHACK.SmokesDesc"}}</em></label>
    <div class="resource-content">
        <select name="data.attributes.smokes.value" data-type="String" {{{getStyleForDice systemData.attributes.smokes.value}}} >
        {{#select systemData.attributes.smokes.value}}
            {{> "systems/cthack/templates/parts/dice-sides-options-value.hbs"}}
        {{/select}}
        </select>
        <span>/</span>
        <select name="data.attributes.smokes.max" data-type="String" {{{getStyleForDice systemData.attributes.smokes.max}}} >
        {{#select systemData.attributes.smokes.max}}
            {{> "systems/cthack/templates/parts/dice-sides-options-max.hbs"}}
        {{/select}}
        </select>
    </div>
</div>
<div class="resource flex-group-center">
    <label class="resource-label resource-name {{#if (isDiceRollable systemData.attributes.sanity.value)}}rollable{{/if}}" data-resource="sanity">{{localize "CTHACK.Sanity"}}<em>{{localize "CTHACK.SanityDesc"}}</em></label>
    <div class="resource-content">
        <select name="data.attributes.sanity.value" data-type="String" {{{getStyleForDice systemData.attributes.sanity.value}}} >
        {{#select systemData.attributes.sanity.value}}
            {{> "systems/cthack/templates/parts/dice-sides-options-value.hbs"}}
        {{/select}}
        </select>
        <span>/</span>
        <select name="data.attributes.sanity.max" data-type="String" {{{getStyleForDice systemData.attributes.sanity.max}}} >
        {{#select systemData.attributes.sanity.max}}
            {{> "systems/cthack/templates/parts/dice-sides-options-max.hbs"}}
        {{/select}}
        </select>
    </div>
</div>

<div class="resource flex-group-center">
    {{#if (isEnabled "HitDiceResource")}}
        <label for="data.hitDice.value" class="resource-label hit-name {{#if (isEnabled "HitDiceResource")}}rollable{{/if}}" data-resource="hitDice">{{localize "CTHACK.HitDice"}}</label>
        <div class="resource-content">
            <select name="data.attributes.hitDice.value" data-type="String" {{{getStyleForDice systemData.attributes.hitDice.value}}} >
                {{#select systemData.attributes.hitDice.value}}
                    {{> "systems/cthack/templates/parts/dice-sides-options-value.hbs"}}
                {{/select}}
            </select>
            <span>/</span>
            <select name="data.attributes.hitDice.max" data-type="String" {{{getStyleForDice systemData.attributes.hitDice.max}}} >
                {{#select systemData.attributes.hitDice.max}}
                    {{> "systems/cthack/templates/parts/dice-sides-options-max.hbs"}}
                {{/select}}
            </select>
        </div>
    {{else}}
        <label class="resource-label">{{localize "CTHACK.HitPoints"}}</label>
        <div class="resource-content flexrow flex-center hitpoints">
            <input type="text" class="input-hitpoints hitpoints-frame" name="data.hp.value" value="{{systemData.hp.value}}" data-dtype="Number"/>
            &nbsp;/&nbsp;
            <input type="text" class="input-hitpoints hitpoints-frame" name="data.hp.max" value="{{systemData.hp.max}}" data-dtype="Number"/>
        </div>
    {{/if}}

</div>