<div class="resource flex-group-center">
    <label for="data.hitDice.value" class="resource-label">{{localize "CTHACK.HitDice"}}</label>
    <div class="resource-content flexrow flex-center flex-between">
        <select name="data.attributes.hitDice.value" data-type="String">
        {{#select actor.data.attributes.hitDice.value}}
            <option value="">{{localize "CTHACK.None"}}</option>
            <option value="d4">1d4</option>
            <option value="d6">1d6</option>
            <option value="d8">1d8</option>
            <option value="d10">1d10</option>
            <option value="d12">1d12</option>
        {{/select}}
        </select>
    </div>
</div>                  
<div class="resource flex-group-center">
    <label for="data.armedDamage.value" class="resource-label">{{localize "CTHACK.ArmedDamage"}}</label>
    <div class="resource-content flexrow flex-center flex-between">
        <select name="data.attributes.armedDamage.value" data-type="String">
        {{#select actor.data.attributes.armedDamage.value}}
            <option value="">{{localize "CTHACK.None"}}</option>
            <option value="d4">1d4</option>
            <option value="d6">1d6</option>
            <option value="d8">1d8</option>
            <option value="d10">1d10</option>
            <option value="d12">1d12</option>
        {{/select}}
        </select>
    </div>
</div>
<div class="resource flex-group-center">
    <label for="data.unarmedDamage.value" class="resource-label">{{localize "CTHACK.UnarmedDamage"}}</label>
    <div class="resource-content flexrow flex-center flex-between">
        <select name="data.attributes.unarmedDamage.value" data-type="String">
        {{#select actor.data.attributes.unarmedDamage.value}}
            <option value="">{{localize "CTHACK.None"}}</option>
            <option value="1">1</option>
            <option value="d4">1d4</option>
            <option value="d6">1d6</option>
            <option value="d8">1d8</option>
            <option value="d10">1d10</option>
            <option value="d12">1d12</option>
        {{/select}}
        </select>
    </div>
</div>
<div class="resource flex-group-center">
    <label for="data.wealthDice.value" class="resource-label">{{localize "CTHACK.WealthDice"}}</label>
    <div class="resource-content flexrow flex-center flex-between">
        <select name="data.attributes.wealthDice.value" data-type="String">
        {{#select actor.data.attributes.wealthDice.value}}
            <option value="">{{localize "CTHACK.None"}}</option>
            <option value="d4">1d4</option>
            <option value="d6">1d6</option>
            <option value="d8">1d8</option>
            <option value="d10">1d10</option>
            <option value="d12">1d12</option>
        {{/select}}
        </select>
    </div>
</div>