<li class="item flexrow" data-item-id="{{_id}}">
    <div class="item-bloc flexrow ">
        <div class="item-image"><img src="{{img}}" title="{{name}}"/></div>
        <h4 class="item-name">{{name}}</h4>
    </div>
    <div class="item-element-text">{{system.damage}}</div>
    <div class="item-element-text attack-dice" data-resource="attackDamage"><i class="fas fa-dice-d20 rollable">&nbsp;&nbsp;</i>{{system.damageDice}}</div>
    <div class="item-controls">
        <a class="item-control attack-edit" title='{{localize "CTHACK.Edit"}}'><i class="fas fa-edit"></i></a>
        <a class="item-control attack-delete" title='{{localize "CTHACK.Delete"}}'><i class="fas fa-trash"></i></a>
    </div>
</li>