<section>
  {{log "definition" this}}
  <div class="item-header">
    {{#if isEdit}}
      <img class="editable-image" data-action="editImage" data-uuid="{{item.uuid}}" src="{{item.img}}" data-edit="img" data-tooltip="{{localize 'TOOLTIPS.SelectImage'}}" />
      <input name="name" type="text" value="{{item.name}}" />
    {{else}}
      <img src="{{item.img}}" />
      <input name="name" type="text" value="{{item.name}}" disabled />
    {{/if}}
  </div>

  <div class="definition-body">
    {{#if editable}}
      <div class="definition-grid">
        <div class="data-group">
          <div class="field-name">{{localize "CTHACK.DefinitionType"}}</div>
          <input name="system.definitionType" type="text" value="{{item.system.definitionType}}" data-dtype="String" readonly />
        </div>
        <div class="data-group">
          <div class="field-name">{{localize "CTHACK.DefinitionKey"}}</div>
          <input name="system.key" type="text" value="{{item.system.key}}" data-dtype="String" readonly />
        </div>
      </div>
    {{/if}}
    {{#if isEdit}}
      <fieldset>
        <legend>{{localize "CTHACK.Description"}}</legend>
        {{formInput systemFields.description enriched=enrichedDescription value=system.description name="system.description" toggled=true disabled=false}}
      </fieldset>
    {{else}}
      {{#if system.hasDescription}}
        <fieldset>
          <legend>{{localize "CTHACK.Description"}}</legend>
          {{formInput systemFields.description enriched=enrichedDescription value=system.description name="system.description" toggled=true disabled=true}}
        </fieldset>
      {{/if}}
    {{/if}}
  </div>
</section>