<section>
    {{log "magie" this}}
        <div class="item-header">
            {{#if isEdit}}
                <img class="editable-image" data-action="editImage" data-uuid="{{item.uuid}}" src="{{item.img}}" data-edit="img" data-tooltip="{{localize 'TOOLTIPS.SelectImage'}}" />
                <input name="name" type="text" value="{{item.name}}" />
            {{else}}
                <img src="{{item.img}}" />
                <input name="name" type="text" value="{{item.name}}" disabled/>
            {{/if}}
        </div>
        <div class="magic-body">
            <div class="magic-grid">
                <div class="form-group">
                    <div class="form-fields">{{localize "CTHACK.Type"}}</div>
                    <select {{#if isPlay}}disabled{{/if}} class="select-subtype" name="system.subtype" data-type="String">
                        {{selectOptions magicTypes selected=item.system.subtype labelAttr="label" localize=true}}
                    </select>
                </div>
                <div class="form-group">
                    <div class="form-fields">{{localize "CTHACK.Sanitation"}}</div>
                    <select {{#if isPlay}}disabled{{/if}} class="select-sanitation" name="system.dice" data-type="String" {{{getStyleForDice item.system.dice}}}>
                        {{selectOptions diceValues selected=item.system.dice blank="CTHACK.None" localize=true}}
                    </select>
                </div>
                <div class="form-group">
                    <div class="form-fields">{{localize "CTHACK.Incantation"}}</div>
                    <input class="input-incantation" name="system.incantation" type="text"
                        value="{{item.system.incantation}}" />
                </div>
            </div>
            {{#if isEdit}}
                <fieldset>
                    <legend>{{localize "CTHACK.Description"}}</legend>
                    {{formInput systemFields.description enriched=enrichedDescription value=system.description name="system.description" toggled=true disabled=false}}
                </fieldset>
            {{else}}
                {{#if system.hasDescription}}
                    <fieldset>
                        <legend>{{localize "CTHACK.Description"}}</legend>
                        {{formInput systemFields.description enriched=enrichedDescription value=system.description name="system.description" toggled=true disabled=true}}
                    </fieldset>
                {{/if}}
            {{/if}}
        </div>
</section>>