{{log 'weapon' this}}
<div class="item flexrow character-contextmenu" data-item-id="{{_id}}">
    <details>
        <summary class="item-line">
            <div class="item-name">{{#if hasImage}}<img src="{{img}}" data-tooltip="{{name}}"/>{{/if}}{{name}}</div>
            <div class="item-element">
                {{#if (isDiceRollable system.dice)}} <i class="fas fa-dice-d20 rollable"></i> {{/if}}
                <select class="item-dice-select" name="{{_id}}" data-type="String" {{{getStyleForDice system.dice}}} {{disabled @root.uneditable}}>
                    {{#select system.dice }}
                        {{>"systems/cthack/templates/parts/dice-sides-options-value.hbs"}}
                    {{/select}}
                </select>
            </div>
            <div class="item-element-text">{{#if (and (eq type "weapon")(eq system.hasRange true))}}{{localize "CTHACK.ItemRangeName"}} : {{localize (rangeDesc system.range)}}{{/if}}</div>                      
        </summary>
        <div class="item-description">{{{system.description}}}</div>
    </details>  
</div>