
{{!log 'equipment' this}}
<div class="equipment flexrow">
    <div class="misc">
        {{editor enrichedEquipment target="system.equipment"  engine="prosemirror" button=true owner=owner}}
    </div>
    <div class="items-list">
        {{#if editable}}
            <div class="title">
                <i class="fas fa-plus item-create" data-tooltip="{{localize "CTHACK.AddEquipment"}}" data-tooltip-direction="LEFT" data-type="weapon" data-alt-type="item"></i>
            </div>
        {{/if}}
        {{#each weapons as |item id|}}
            {{!log 'weapon' item id}}
            <div class="item character-contextmenu" data-item-id="{{_id}}">
                <details>
                    <summary class="item-line weapon">
                        <div class="item-name-img {{#if system.hasDescription}}has-description{{/if}}">{{#if hasImage}}<img src="{{img}}" data-tooltip="{{name}}"/>{{/if}}{{name}}</div>
                        <div class="item-dice">
                            {{#if (isDiceRollable system.dice)}} <i class="fas fa-dice-d20 weapon rollable" data-tooltip="{{localize 'CTHACK.MaterialRollPromptTitle'}}"></i> {{/if}}
                            <select class="item-dice-select" name="system.dice" data-type="String" {{{getStyleForDice system.dice}}} disabled>
                                {{selectOptions @root.diceValues selected=system.dice blank="CTHACK.Empty" localize=true}}
                            </select>
                        </div>
                        <div class="item-range">{{#if (and (eq type "weapon")(eq system.hasRange true))}}{{localize "CTHACK.ItemRangeName"}} : {{localize (rangeDesc system.range)}}{{/if}}</div>                      
                    </summary>
                    <div class="item-description">{{{enrichedDescription}}}</div>
                </details>  
            </div>
        {{/each}}
        {{#each otheritems as |item id|}}
            <div class="item character-contextmenu" data-item-id="{{_id}}">
                <details>
                    <summary class="item-line other">
                        <div class="item-name-img {{#if system.hasDescription}}has-description{{/if}}">{{#if hasImage}}<img src="{{img}}" data-tooltip="{{name}}"/>{{/if}}{{name}}</div>
                        <div class="item-dice">
                            {{#if (isDiceRollable system.dice)}} <i class="fas fa-dice-d20 otherItem rollable" data-tooltip="{{localize 'CTHACK.MaterialRollPromptTitle'}}"></i> {{/if}}
                            <select class="item-dice-select" name="system.dice" data-type="String" {{{getStyleForDice system.dice}}} disabled>
                                {{selectOptions @root.diceValues selected=system.dice blank="CTHACK.Empty" localize=true}}
                            </select>
                        </div>
                    </summary>
                    <div class="item-description">{{{enrichedDescription}}}</div>
                </details>  
            </div>
        {{/each}}            
    </div>
</div>



