<header class="character-sheet-header">
    <div class="name" data-name="{{actor.name}}">
      {{#if unlocked}}
        {{formInput fields.name value=actor.name}}
      {{else}}
        <div data-action="searchName" data-name="{{actor.name}}" data-tooltip="{{localize 'TOOLTIPS.SearchName'}}">{{actor.name}}</div>
      {{/if}}
    </div>

    <div class="header-occupation">
      <div class="occupation-archetype" data-tooltip="{{#if system.hasArchetype}} Archetype {{system.archetype}}{{/if}}">
        {{#if system.hasOccupation}}{{system.occupation}} {{#if system.hasSkills}}({{system.skills}}){{/if}}{{/if}}
      </div>
    </div>

    {{#unless unlocked}}
        {{#if system.hasShortDescription}}
          <div class="short-description">
            {{system.shortDescription}}
          </div>
        {{/if}}
    {{/unless}}

    {{#if unlocked}}
      <div class="occupation">
        <label>{{localize "CTHACK.Occupation"}}</label>
        {{formInput systemFields.occupation value=system.occupation}}
        <label>{{localize "CTHACK.Skills"}}</label>
        {{formInput systemFields.skills value=system.skills}}
      </div>
      <div class="archetype">
        <label>{{localize "CTHACK.Archetype"}}</label>
        {{formInput systemFields.archetype value=system.archetype}}
      </div>
      <div class="short-description">
        {{formInput systemFields.shortDescription value=system.shortDescription name="system.shortDescription" elementType="input" placeholder=(localize "CTHACK.ShortDescription")}}
      </div>
    {{/if}}
    <div class="resources {{getNbRessources}}">
      <div class="resource" data-drag="true" data-drag-type="resource" data-drag-target="flashlights">
          <label class="resource-label resource-name {{#if (isDiceRollable system.attributes.flashlights.value)}}rollable{{/if}}" data-action="rollResource" data-resource="flashlights" data-tooltip="{{localize 'CTHACK.FlashLightsDesc'}}" data-tooltip-direction="UP">{{localize "CTHACK.FlashLights"}}</label>
          <div class="resource-content {{#if hasLostFlashlights}}resource-lost{{/if}}">
              {{#if unlocked}}
                {{formInput systemFields.attributes.fields.flashlights.fields.value value=system.attributes.flashlights.value choices=diceValues}}
                (
                {{formInput systemFields.attributes.fields.flashlights.fields.max value=system.attributes.flashlights.max choices=diceMaxValues}}
                )
              {{else}}
                <img src="{{ concat 'systems/cthack/ui/dice/' system.attributes.flashlights.value '.webp'}}" data-tooltip="{{localize "TOOLTIPS.Max"}} {{system.attributes.flashlights.max}}"/>
              {{/if}}
          </div>
      </div>
      <div class="resource" data-drag="true" data-drag-type="resource" data-drag-target="smokes">
          <label class="resource-label resource-name {{#if (isDiceRollable system.attributes.smokes.value)}}rollable{{/if}}" data-action="rollResource" data-resource="smokes" data-tooltip="{{localize 'CTHACK.SmokesDesc'}}" data-tooltip-direction="UP">{{localize "CTHACK.Smokes"}}</label>
          <div class="resource-content {{#if hasLostSmokes}}resource-lost{{/if}}">
              {{#if unlocked}}
                {{formInput systemFields.attributes.fields.smokes.fields.value value=system.attributes.smokes.value choices=diceValues}}
                (
                {{formInput systemFields.attributes.fields.smokes.fields.max value=system.attributes.smokes.max choices=diceMaxValues}}
                )
                {{else}}
                <img src="{{ concat 'systems/cthack/ui/dice/' system.attributes.smokes.value '.webp'}}" data-tooltip="{{localize "TOOLTIPS.Max"}} {{system.attributes.smokes.max}}"/>
              {{/if}}
          </div>
      </div>
      <div class="resource" data-drag="true" data-drag-type="resource" data-drag-target="sanity">
          <label class="resource-label resource-name {{#if (isDiceRollable system.attributes.sanity.value)}}rollable{{/if}}" data-action="rollResource" data-resource="sanity" data-tooltip="{{localize 'CTHACK.SanityDesc'}}" data-tooltip-direction="UP">{{localize "CTHACK.Sanity"}}</label>
          <div class="resource-content {{#if hasLostSanity}}resource-lost{{/if}}">
              {{#if unlocked}}
                {{formInput systemFields.attributes.fields.sanity.fields.value value=system.attributes.sanity.value choices=diceValues}}
                (
                {{formInput systemFields.attributes.fields.sanity.fields.max value=system.attributes.sanity.max choices=diceMaxValues}}
                )
              {{else}}
                <img src="{{ concat 'systems/cthack/ui/dice/' system.attributes.sanity.value '.webp'}}" data-tooltip="{{localize "TOOLTIPS.Max"}} {{system.attributes.sanity.max}}"/>
              {{/if}}
          </div>
      </div>

      {{#if (isEnabled "Wealth")}}
        <div class="resource" data-drag="true" data-drag-type="resource" data-drag-target="wealthDice">
            <label for="wealthDice.value" class="resource-label wealth-name {{#if isWealthAsResource}}rollable{{/if}}" data-action="rollResource" data-resource="wealthDice">{{localize "CTHACK.Wealth"}}</label>
            <div class="resource-content {{#if hasLostWealthDice}}resource-lost{{/if}}">
                {{#if unlocked}}
                  {{#if isWealthAsResource}}
                    {{formInput systemFields.attributes.fields.wealthDice.fields.value value=system.attributes.wealthDice.value choices=diceValues}}
                      (
                      {{formInput systemFields.attributes.fields.wealthDice.fields.max value=system.attributes.wealthDice.max choices=diceMaxValues}}
                      )
                  {{else}}
                    {{formInput systemFields.attributes.fields.wealthDice.fields.value value=system.attributes.wealthDice.value choices=diceValues}}
                  {{/if}}
                {{else}}
                  <img src="{{ concat 'systems/cthack/ui/dice/' system.attributes.wealthDice.value '.webp'}}" data-tooltip="{{localize "TOOLTIPS.Max"}} {{system.attributes.wealthDice.max}}"/>
                {{/if}}
            </div>
        </div>
      {{/if}}

      {{#if (isEnabled "MiscellaneousResource")}}
          <div class="resource" data-drag="true" data-drag-type="resource" data-drag-target="miscellaneous">
              <label for="miscellaneous.value" class="resource-label miscellaneous-name {{#if (isDiceRollable system.attributes.miscellaneous.value)}}rollable{{/if}} {{#if hasLostMiscellaneous}}resource-lost{{/if}}" data-action="rollResource" data-resource="miscellaneous">{{getMiscellaneousValue}}</label>
              <div class="resource-content {{#if hasLostMiscellaneous}}resource-lost{{/if}}">
                  {{#if unlocked}}
                    {{formInput systemFields.attributes.fields.miscellaneous.fields.value value=system.attributes.miscellaneous.value choices=diceValues}}
                    (
                    {{formInput systemFields.attributes.fields.miscellaneous.fields.max value=system.attributes.miscellaneous.max choices=diceMaxValues}}
                    )
                  {{else}}
                    <img src="{{ concat 'systems/cthack/ui/dice/' system.attributes.miscellaneous.value '.webp'}}" data-tooltip="{{localize "TOOLTIPS.Max"}} {{system.attributes.miscellaneous.max}}"/>
                  {{/if}}
              </div>
          </div>
      {{/if}}

    </div>
    <div class="fight {{getNbFightColumns}}">
      {{#if displayHP}}
        <div class="resource hitpoints">
              <label class="resource-label">{{localize "CTHACK.HitPoints"}}</label>
              <div class="hitpoints-content">
                  {{formInput systemFields.hp.fields.value value=system.hp.value name="system.hp.value"}}
                  /
                  {{formInput systemFields.hp.fields.max value=system.hp.max name="system.hp.max" disabled=locked}}
              </div>
        </div>
      {{/if}}

      {{#if displayHD}}
        <div class="resource">
              <label class="resource-label resource-name {{#if (isDiceRollable system.attributes.hitDice.value)}}rollable{{/if}}" data-action="rollResource" data-resource="hitDice">{{localize "CTHACK.HitDice"}}</label>
              <div class="resource-content {{#if hasLostHitDice}}resource-lost{{/if}}">
                  {{#if unlocked}}
                    {{formInput systemFields.attributes.fields.hitDice.fields.value value=system.attributes.hitDice.value choices=diceValues}}
                    (
                    {{formInput systemFields.attributes.fields.hitDice.fields.max value=system.attributes.hitDice.max choices=diceMaxValues}}
                    )
                  {{else}}
                    {{#if (isDiceRollable system.attributes.hitDice.value)}}
                      <img src="{{ concat 'systems/cthack/ui/dice/' system.attributes.hitDice.value '.webp'}}" data-tooltip="{{localize "TOOLTIPS.Max"}} {{system.attributes.hitDice.max}}"/>
                    {{/if}}
                  {{/if}}
              </div>
        </div>
      {{/if}}

      <div class="resource" data-drag="true" data-drag-type="damage" data-drag-target="armedDamage">
          <label for="armedDamage.value" class="resource-label damage {{#if (isDiceRollable system.attributes.armedDamage.value)}}rollable{{/if}}" data-action="rollDamage" data-resource="armedDamage">{{localize "CTHACK.ArmedDamage"}}</label>
          <div class="resource-content">
            {{#if unlocked}}
              {{formInput systemFields.attributes.fields.armedDamage.fields.value value=system.attributes.armedDamage.value choices=diceDamageValues}}
            {{else}}
              <img class="img-damage-armed" src="{{ concat 'systems/cthack/ui/dice/' system.attributes.armedDamage.value '.webp'}}"/>
            {{/if}}
          </div>
      </div>

      <div class="resource" data-drag="true" data-drag-type="damage" data-drag-target="unarmedDamage">
          <label for="unarmedDamage.value" class="resource-label damage {{#if (isDiceRollable system.attributes.unarmedDamage.value)}}rollable{{/if}}" data-action="rollDamage" data-resource="unarmedDamage">{{localize "CTHACK.UnarmedDamage"}}</label>
          <div class="resource-content">
            {{#if unlocked}}
              {{formInput systemFields.attributes.fields.unarmedDamage.fields.value value=system.attributes.unarmedDamage.value choices=diceDamageValues}}
            {{else}}
              <img class="img-damage-unarmed" src="{{ concat 'systems/cthack/ui/dice/' system.attributes.unarmedDamage.value '.webp'}}"/>
            {{/if}}
          </div>
      </div>

    </div>
  </header>
