<section class="tab combat {{tabs.combat.cssClass}}" data-group="primary" data-tab="combat">
  <div class="sheet-body {{#if hasImage}}grid-image{{else}}grid-noimage{{/if}}">
    <div class="attacks">
      {{#if unlocked}}
        <div class="title">{{localize "CTHACK.OpponentAttacks"}}
         <a class="item-control" data-action="createItem" data-tooltip="{{localize 'CTHACK.AddAttack'}}" data-type="attack"><i class="fas fa-plus"></i></a>
        </div>
      {{else}}
        {{#if (gt attacks.length 0)}}<div class="title">{{localize "CTHACK.OpponentAttacks"}}</div>{{/if}}
      {{/if}}
      <div class="grid-attacks">
        {{#each attacks as |attack id|}}
          <div class="item opponent-contextmenu" data-item-id="{{attack._id}}">
            <details>
              <summary class="item-line">
                <div class="item-name {{#if attack.system.hasDescription}}has-description{{/if}}">{{#if attack.hasImage}}<img src="{{attack.img}}"/>{{/if}}{{attack.name}}</div>
                <div class="item-details">{{#if attack.system.hasDamageDice}}<i class="fas fa-dice-d20 attack rollable" data-action="rollAttack">&nbsp;&nbsp;</i> {{/if}}{{{attack.system.details}}}</div>
              </summary>
              <div class="item-description">{{{attack.enrichedDescription}}}</div>
            </details>
          </div>
        {{/each}}
      </div>
    </div>

    <div class="abilities">
      {{#if unlocked}}
        <div class="title">{{localize "CTHACK.OpponentAbilities"}}
          <a class="item-control" data-action="createItem" data-tooltip="{{localize 'CTHACK.AddOpponentAbility'}}" data-type="opponentAbility"><i class="fas fa-plus"></i></a>
        </div>
      {{else}}
        {{#if (gt opponentAbilities.length 0)}}<div class="title">{{localize "CTHACK.OpponentAbilities"}}</div>{{/if}}
      {{/if}}
      <div class="grid-opponent-abilities">
        {{#each opponentAbilities as |ability id|}}
          <div class="item opponent-contextmenu" data-item-id="{{ability._id}}">
            <details>
              <summary class="item-line">
                <div class="item-name {{#if ability.system.hasDescription}}has-description{{/if}}">{{#if ability.hasImage}}<img src="{{ability.img}}"/>{{/if}}{{ability.name}}</div>
                <div class="item-use">
                  {{#if ability.system.hasUse}}
                    {{localize 'CTHACK.AbilityUseValue'}} ({{abilityPeriodToString ability.system.uses.per}}) : {{ability.system.uses.value}}/{{ability.system.uses.max}}
                  {{/if}}
                </div>
              </summary>
              <div class="item-description">{{{ability.enrichedDescription}}}</div>
            </details>
          </div>
        {{/each}}
      </div>
    </div>

    <div class="magics">
      {{#if unlocked}}
        <div class="title">{{localize "CTHACK.OpponentMagics"}}
          <a class="item-control" data-action="createItem" data-tooltip="{{localize 'CTHACK.AddMagic'}}" data-type="magic"><i class="fas fa-plus"></i></a>
        </div>
      {{else}}
        {{#if (gt magics.length 0)}}<div class="title">{{localize "CTHACK.OpponentMagics"}}</div>{{/if}}
      {{/if}}
      <div class="grid-magics">
        {{#each magics as |magic id|}}
          <div class="item opponent-contextmenu" data-item-id="{{magic._id}}">
            <details>
              <summary class="item-line">
                <div class="item-name {{#if magic.system.hasDescription}}has-description{{/if}}">{{#if magic.hasImage}}<img src="{{magic.img}}"/>{{/if}}{{{magic.name}}}</div>
                <div class="item-subtype">{{magic.system.subtypeLabel}}</div>
                <div class="item-dice">{{#if magic.system.isDice}}<i class="fas fa-dice-d20 sanity rollable" data-action="rollSanity">&nbsp;&nbsp;</i>{{magic.system.dice}}{{/if}}</div>
                <div class="item-incantation">{{magic.system.incantation}}</div>
              </summary>
              <div class="item-description">{{{magic.enrichedDescription}}}</div>
            </details>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</section>
