<form class="{{cssClass}} flexcol sheet-actor" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header actor-sheet-top">
        <div class="flex-center">
          <img class="profile-img" src="{{actorData.img}}" data-edit="img" title="{{actorData.name}}" height="100" width="100"/>
          {{#if (isEnabled "FortuneAvailable")}}
          <div>
          <label class="resource-label">{{localize "CTHACK.Fortune"}} : {{getFortuneValue}}</label>
            {{#if isGm}}
              {{#if (shouldDisplayFortuneUse)}}
              <a class="fortune-use" title="{{localize "CTHACK.FortuneUse"}}"><i class="fa fa-check-circle"></i></a>
              {{/if}}
            {{/if}}
          </div>
          {{/if}}
          {{#if (isEnabled "Adrenaline")}}
          <img class="adrenaline-img" id="adr1" src="{{getAdrenalineImage systemData.attributes.adrenaline1.value}}" >
          <img class="adrenaline-img" id="adr2" src="{{getAdrenalineImage systemData.attributes.adrenaline2.value}}" >
          {{/if}}
        </div>
        <div class="header-fields flex5">
            <h1 class="charname"><input name="name" type="text" value="{{actorData.name}}" placeholder="Name"/></h1>  
            <div class="grid grid-2col occupation">     
              <div class="flexrow flex-group-center occupation">
                <label class="resource-label">{{localize "CTHACK.Occupation"}}</label>
                <input name="data.occupation" type="text" value="{{systemData.occupation}}" placeholder='{{localize "CTHACK.Occupation"}}' class="occupation-input"/>
              </div>     
              <div class="flexrow flex-group-center archetype">
                <label class="resource-label">{{localize "CTHACK.Archetype"}}</label>
                <input name="data.archetype" type="text" value="{{systemData.archetype}}" placeholder='{{localize "CTHACK.Archetype"}}' class="occupation-input"/>
              </div>                      
            </div>            
            {{!-- The grid classes are defined in scss/global/_grid.scss. To use, use both the "grid" and "grid-Ncol" class where "N" can be any number from 1 to 12 and will create that number of columns.  --}}
              <div class="saves grid grid-3col">
                {{#each systemData.saves as |save key|}}
                  <div class="save flexrow flex-group-center" data-save="{{key}}">
                    <label class="resource-label save-name rollable">{{localize (getSaveLabel key)}}<em>{{localize (toDesc key)}}</em></label>
                    <input type="text" name="data.saves.{{key}}.value" value="{{save.value}}" data-dtype="Number" class="save-value cadre"/>
                    <input type="checkbox" name="data.saves.{{key}}.advantage" data-dtype="Boolean" {{checked save.advantage}}/>
                  </div>
                {{/each}}
              </div>
            <div class="resources grid grid-4col">
              {{> "systems/cthack/templates/actor/parts/actor-attributes-firstline.hbs"}}
            </div>
            <div class="resources grid grid-4col">
              {{> "systems/cthack/templates/actor/parts/actor-attributes-secondline.hbs"}}
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs align-center" data-group="primary">
        <a class="choice" data-tab="description">{{localize "CTHACK.Description"}}</a>        
        <a class="choice" data-tab="items">{{localize "CTHACK.Items"}}</a>
        <a class="choice" data-tab="abilities">{{localize "CTHACK.Abilities"}}</a>
        <a class="choice" data-tab="conditions">{{localize "CTHACK.Conditions"}}</a>
        <a class="choice" data-tab="notes">{{localize "CTHACK.Notes"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body actor-sheet-bottom">

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="description">
            {{editor content=systemData.biography target="data.biography" button=true owner=owner editable=editable}}
        </div>
        
        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            <ol class="items-list">
                <li class="item-header flexrow" draggable="true">
                  <div class="item-name">{{localize "CTHACK.Name"}}</div>
                  <div class="align-center">{{localize "CTHACK.ItemDiceName"}}</div>
                  <div class="align-center">{{localize "CTHACK.ItemRangeName"}}</div>
                  <div class="item-controls-header">
                    <a class="item-control item-create" title="{{localize "CTHACK.Add"}}" data-type="item"><i class="fas fa-plus"></i> {{localize "CTHACK.Add"}}</a>
                  </div>
                </li>
                {{#each weapons as |item id|}}
                  {{> "systems/cthack/templates/actor/parts/actor-item.hbs" item}}
                {{/each}}
                {{#each otheritems as |item id|}}
                  {{> "systems/cthack/templates/actor/parts/actor-item.hbs" item}}
                {{/each}}            
            </ol>
        </div>

        {{!-- Abilities Tab --}}
        <div class="tab abilities" data-group="primary" data-tab="abilities">
            <ol class="items-list">
                <li class="item-header flexrow">
                  <div class="item-name">{{localize "CTHACK.Name"}}</div>
                  <div class="item-usageType align-center">{{localize "CTHACK.AbilityUsePer"}}</div>
                  <div class="item-usageRemaining align-center">{{localize "CTHACK.AbilityUseValue"}}</div>
                  <div class="item-usageLastTime align-center">{{localize "CTHACK.AbilityUseLast"}}</div>
                  <div class="item-usageMultiple align-center">{{localize "CTHACK.AbilityMultiple"}}</div>
                  <div class="item-controls">
                    <a class="item-control ability-create" title="{{localize "CTHACK.Add"}}" data-type="ability"><i class="fas fa-plus"></i> {{localize "CTHACK.Add"}}</a>
                  </div>
                </li>
                {{#each abilities as |ability id|}}
                  {{> "systems/cthack/templates/actor/parts/actor-ability.hbs" ability}}
                {{/each}}
            </ol>
        </div>

        {{!-- Conditions Tab --}}
        <div class="tab items" data-group="primary" data-tab="conditions">
            <ol class="items-list">
                <li class="item-header flexrow">
                  <div class="item-name">{{localize "CTHACK.Name"}}</div>
                </li>
                {{#each conditions as |condition id|}}
                  {{> "systems/cthack/templates/actor/parts/actor-condition.hbs" condition}}
                {{/each}}           
            </ol>
        </div>      

        {{!-- Notes Tab --}}
        <div class="tab character-notes" data-group="primary" data-tab="notes">
            {{editor content=systemData.notes target="data.notes" button=true owner=owner editable=editable}}
        </div>

    </section>
</form>

