<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="flex-center">
          <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
          {{#if (isEnabled "FortuneAvailable")}}
          <label class="resource-label">{{localize "CTHACK.Fortune"}} :</label>
          <label class="resource-label">{{getFortuneValue}}</label>
          <div class="item-controls">
              <a class="fortune-use" title="{{localize "CTHACK.FortuneUse"}}"><i class="fa fa-check-circle"></i></a>
          </div>
          {{/if}}
          {{#if (isEnabled "Adrenaline")}}
          <img class="adrenaline-img" id="adr1" src="icons/commodities/treasure/{{getAdrenalineImage data.attributes.adrenaline1.value}}.webp" >
          <img class="adrenaline-img" id="adr2" src="icons/commodities/treasure/{{getAdrenalineImage data.attributes.adrenaline2.value}}.webp" >
          {{/if}}
        </div>
        <div class="header-fields flex5">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>  
            <div class="grid grid-2col">     
              <div class="flexrow flex-group-center">
                <label class="resource-label">{{localize "CTHACK.Occupation"}}: </label>
                <input name="data.occupation" type="text" value="{{data.occupation}}" placeholder="Occupation"/>
              </div>     
              <div class="flexrow flex-group-center">
                <label class="resource-label">{{localize "CTHACK.Archetype"}}: </label>
                <input name="data.archetype" type="text" value="{{data.archetype}}" placeholder='{{localize "CTHACK.Archetype"}}'/>
              </div>                      
            </div>            
            {{!-- The grid classes are defined in scss/global/_grid.scss. To use, use both the "grid" and "grid-Ncol" class where "N" can be any number from 1 to 12 and will create that number of columns.  --}}
              <div class="saves grid grid-3col">
                {{#each data.saves as |save key|}}
                  <div class="save flexrow flex-group-center" data-save="{{key}}">
                    <label for="data.saves.{{key}}.value" class="resource-label save-name rollable" title='{{localize (toDesc key)}}'>{{localize (toAbbr key)}}</label>
                    <input type="text" name="data.saves.{{key}}.value" value="{{save.value}}" data-dtype="Number" class="save-value"/>
                    <input type="checkbox" name="data.saves.{{key}}.advantage" data-dtype="Boolean" {{checked save.advantage}}/>
                  </div>
                {{/each}}
              </div>
            <div class="resources grid grid-4col">
              {{> "systems/cthack/templates/actor/parts/actor-attributes-first.hbs"}}
            </div>
            <div class="resources grid grid-4col">
              {{> "systems/cthack/templates/actor/parts/actor-attributes-second.hbs"}}
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs align-center" data-group="primary">
        <a class="choice" data-tab="description">{{localize "CTHACK.Description"}}</a>
        <a class="choice" data-tab="items">{{localize "CTHACK.Items"}}</a>
        <a class="choice" data-tab="abilities">{{localize "CTHACK.Abilities"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="description">
            {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
        </div>

        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            <ol class="items-list">
                <li class="item flexrow item-header">
                  <div class="item-name align-center">{{localize "CTHACK.Name"}}</div>
                  <div class="align-right">{{localize "CTHACK.ItemDiceName"}}</div>
                  <div class="align-center">{{localize "CTHACK.ItemRangeName"}}</div>
                  <div class="item-controls">
                    <a class="item-control item-create" title="{{localize "CTHACK.Add"}}" data-type="item"><i class="fas fa-plus"></i> {{localize "CTHACK.Add"}}</a>
                  </div>
                </li>
                {{#each (getItemsAndWeapons actor.items) as |item id|}}
                  <li class="item flexrow" data-item-id="{{item._id}}">
                      <div class="item-image align-left"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                      <h4 class="item-name align-left" title="{{item.description}}">{{item.name}}</h4>
                      <div class="item-dice rollable align-right">
                        {{#if (isItemWithDice item.data.dice)}}
                        <i class="fas fa-dice-d20"></i>
                        {{/if}}
                        <select name="item.data.dice" data-type="String">
                        {{#select item.data.dice}}
                            <option value="">{{localize "CTHACK.None"}}</option>
                            <option value="d4">1d4</option>
                            <option value="d6">1d6</option>
                            <option value="d8">1d8</option>
                            <option value="d10">1d10</option>
                            <option value="d12">1d12</option>
                        {{/select}}
                        </select>
                      </div>
                      <div class="align-center">{{#if (equals item.type "weapon")}}
                      {{localize (rangeDesc item.data.range)}}
                      {{/if}}
                      </div>                      
                      <div class="item-controls">
                          <a class="item-control item-edit" title="{{localize "CTHACK.Edit"}}"><i class="fas fa-edit"></i></a>
                          <a class="item-control item-delete" title="{{localize "CTHACK.Delete"}}"><i class="fas fa-trash"></i></a>
                      </div>
                  </li>
                {{/each}}
            </ol>
        </div>
        <div class="tab abilities" data-group="primary" data-tab="abilities">
            <ol class="items-list">
                <li class="item flexrow item-header">
                  <div class="item-image"></div>
                  <div class="item-name">{{localize "CTHACK.Name"}}</div>
                  <div class="item-usageType">{{localize "CTHACK.AbilityUsageType"}}</div>
                  <div class="item-usageRemaining">{{localize "CTHACK.AbilityUsageRemaining"}}</div>
                  <div class="item-usageLastTime">{{localize "CTHACK.AbilityUsageLast"}}</div>
                  <div class="item-usageMultiple">{{localize "CTHACK.AbilityMultiple"}}</div>
                  <div class="item-controls">
                    <a class="item-control ability-create" title="{{localize "CTHACK.Add"}}" data-type="ability"><i class="fas fa-plus"></i> {{localize "CTHACK.Add"}}</a>
                  </div>
                </li>
                {{#each items as |item|}}
                  {{#if (equals item.type "ability")}}
                    <li class="item flexrow" data-item-id="{{item._id}}">
                      <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                      <h4 class="item-name" title="{{{item.data.description}}}">{{item.name}}</h4>
                      <div>{{item.data.usageType}}</div>
                      <div>{{item.data.usageRemaining}}</div>
                      <div>{{item.data.usageLastTime}}</div>
                      <div>{{booleanToString item.data.multiple}}</div>
                      <div class="item-controls">
                        <a class="item-control ability-edit" title="{{localize "CTHACK.Edit"}}"><i class="fas fa-edit"></i></a>
                        <a class="item-control ability-delete" title="{{localize "CTHACK.Delete"}}"><i class="fas fa-trash"></i></a>
                      </div>
                    </li>
                   {{/if}}
                {{/each}}
            </ol>
        </div>

    </section>
</form>

