{{!log 'actor-sheet' this}}
<form class="{{cssClass}} flexcol sheet-actor" autocomplete="off">
      <header class="sheet-header">
        <div class="flex-center">
          <img class="profile-img" src="{{data.img}}" data-edit="img" data-tooltip="{{data.name}}" height="100" width="100"/>
          {{#if (isEnabled "FortuneAvailable")}}
          <div>
          <label class="resource-label">{{localize "CTHACK.Fortune"}} : {{getFortuneValue}}</label>
            {{#if isGm}}
              {{#if (shouldDisplayFortuneUse)}}
              <a class="fortune-use" data-tooltip="{{localize "CTHACK.FortuneUse"}}"><i class="fa fa-check-circle"></i></a>
              {{/if}}
            {{/if}}
          </div>
          {{/if}}
          {{#if (isEnabled "Adrenaline")}}
          <img class="adrenaline-img" id="adr1" src="{{getAdrenalineImage data.system.attributes.adrenaline1.value}}" >
          <img class="adrenaline-img" id="adr2" src="{{getAdrenalineImage data.system.attributes.adrenaline2.value}}" >
          {{/if}}
        </div>
        <div class="header-fields flex5">
            <h1 class="charname"><input name="name" type="text" value="{{data.name}}" placeholder="Name"/></h1>  
            <div class="grid grid-2col occupation">     
              <div class="flexrow flex-group-center occupation">
                <label class="resource-label">{{localize "CTHACK.Occupation"}}</label>
                <input name="system.occupation" type="text" value="{{system.occupation}}" placeholder='{{localize "CTHACK.Occupation"}}' class="occupation-input"/>
              </div>     
              <div class="flexrow flex-group-center archetype">
                <label class="resource-label">{{localize "CTHACK.Archetype"}}</label>
                <input name="system.archetype" type="text" value="{{system.archetype}}" placeholder='{{localize "CTHACK.Archetype"}}' class="occupation-input"/>
              </div>                      
            </div>            
            <div class="grid grid-3col saves">
                {{#each data.system.saves as |save key|}}
                  <div class="flexrow flex-group-center save" data-save="{{key}}">
                    <label class="resource-label save-name rollable" data-tooltip="{{localize (toDesc key)}}" data-tooltip-direction="UP">{{localize (getSaveLabel key)}}</label>
                    <input type="text" name="system.saves.{{key}}.value" value="{{save.value}}" data-dtype="Number" class="save-value frames"/>
                    <input type="checkbox" name="system.saves.{{key}}.advantage" data-dtype="Boolean" {{checked save.advantage}}/>
                  </div>
                {{/each}}
              </div>
            <div class="grid grid-4col resources">
              {{> "systems/cthack/templates/actor/parts/actor-attributes-resources.hbs" data}}
            </div>
            <div class="grid grid-4col resources">
              {{> "systems/cthack/templates/actor/parts/actor-attributes-combat.hbs" data}}
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs align-center" data-group="primary">
        <a class="choice" data-tab="description">{{localize "CTHACK.Description"}}</a>        
        <a class="choice" data-tab="items">{{localize "CTHACK.Items"}}</a>
        <a class="choice" data-tab="abilities">{{localize "CTHACK.AbilitiesAndMagic"}}</a>
        <a class="choice" data-tab="conditions">{{localize "CTHACK.Conditions"}}</a>
        <a class="choice" data-tab="notes">{{localize "CTHACK.Notes"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="description">
            {{editor enrichedBiography target="system.biography" button=true owner=owner editable=editable}}
        </div>
        
        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            <ol class="items-list">
                <li class="item-header flexrow" draggable="true">
                  <div class="item-header-name">{{localize "CTHACK.Name"}}</div>
                  <div>{{localize "CTHACK.ItemDiceName"}}</div>
                  <div>{{localize "CTHACK.ItemRangeName"}}</div>
                  <div class="item-controls-header">
                    <a class="item-control item-create" data-tooltip="{{localize "CTHACK.AddItemOrWeapon"}}" data-type="item" data-alt-type="weapon"><i class="fas fa-plus"></i></a>
                  </div>
                </li>
                {{#each weapons as |item id|}}
                  {{> "systems/cthack/templates/actor/parts/actor-item.hbs" item}}
                {{/each}}
                {{#each otheritems as |item id|}}
                  {{> "systems/cthack/templates/actor/parts/actor-item.hbs" item}}
                {{/each}}            
            </ol>
        </div>

        {{!-- Abilities and Magics Tab --}}
        <div class="tab abilities" data-group="primary" data-tab="abilities">
          {{!-- Abilities--}}
          <div class="entete-tableau">
              <div class="entete-titre">{{localize "CTHACK.Abilities"}}</div>
              <div class="item-controls-header">
                <a class="item-control ability-create" data-tooltip="{{localize "CTHACK.AddAbility"}}" data-type="ability"><i class="fas fa-plus"></i></a>
              </div>
          </div>
          
          {{#if (gt abilities.length 0)}}            
            <div class="grid-abilities">
                <div class="entete">{{localize "CTHACK.Name"}}</div>
                <div class="entete">{{localize "CTHACK.AbilityUsePer"}}</div>
                <div class="entete">{{localize "CTHACK.AbilityUseValue"}}</div>
                <div class="entete">{{localize "CTHACK.AbilityUseLast"}}</div>
                <div class="entete">{{localize "CTHACK.AbilityMultiple"}}</div>
                <div></div>
                {{#each abilities as |ability id|}}
                      {{> "systems/cthack/templates/actor/parts/actor-ability.hbs" ability}}
                {{/each}}      
            </div>
          {{/if}}

          {{!-- Magic --}}
          <div class="entete-tableau">
                <div class="entete-titre">{{localize "CTHACK.Magic"}}</div>
                <div class="item-controls-header">
                    <a class="item-control item-create" data-tooltip="{{localize "CTHACK.AddMagic"}}" data-type="magic"><i class="fas fa-plus"></i></a>
                </div>
          </div>

          {{#if (gt magics.length 0)}}   
           <div class="grid-magics">
                <div class="entete">{{localize "CTHACK.Name"}}</div>
                <div class="entete">{{localize "CTHACK.MagicType"}}</div>
                <div class="entete">{{localize "CTHACK.MagicSanity"}}</div>
                <div class="entete">{{localize "CTHACK.MagicIncantation"}}</div>
                <div></div>
                {{#each magics as |item id|}}
                    {{> "systems/cthack/templates/actor/parts/actor-magic.hbs" item}}
                {{/each}}       
            </div>
          {{/if}}

        </div>

        {{!-- Conditions Tab --}}
        <div class="tab items" data-group="primary" data-tab="conditions">
            <ol class="items-list">
                <li class="item-header flexrow">
                  <div class="item-header-name">{{localize "CTHACK.Name"}}</div>
                </li>
                {{#each conditions as |condition id|}}
                  {{> "systems/cthack/templates/actor/parts/actor-condition.hbs" condition}}
                {{/each}}           
            </ol>
        </div>      

        {{!-- Notes Tab --}}
        <div class="tab character-notes" data-group="primary" data-tab="notes">
            {{editor enrichedNotes target="system.notes" button=true owner=owner editable=editable}}
        </div>

    </section>
</form>

