<form class="{{cssClass}} flexcol sheet-opponent" autocomplete="off">
    {{!log 'opponent' this}}
    <header class="sheet-header">
        <div class="flex-center">
            <img class="opponent-img" src="{{data.img}}" data-edit="img" title="{{data.name}}"/>
        </div>       
        <div class="header-fields flex 5">
            <h1 class="charname"><input name="name" type="text" value="{{data.name}}" placeholder="Name"/></h1>
            <div class="grid grid-2col">
                <div class="flexrow flex-group-center">
                    <label for="system.hitDice" class="resource-label resource-name" title='{{localize "CTHACK.HitDice"}}'>{{localize "CTHACK.HitDice"}}</label>
                    <select class="selectHitDice" name="system.hitDice" data-type="String" style="color: white;">
                        {{#select data.system.hitDice}}
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        {{/select}}
                    </select>
                </div>
                <div class="flexrow flex-group-center">
                    <label for="system.hp.value" class="resource-label">{{localize "CTHACK.HitPoints"}}</label>
                    <div class="flexrow flex-center">
                        <input type="text" name="system.hp.value" value="{{data.system.hp.value}}" data-dtype="Number"/>
                        <span>/</span>
                        <input type="text" name="system.hp.max" value="{{data.system.hp.max}}" data-dtype="Number"/>
                    </div>
                </div>
            </div>
            <div class="grid grid-2col">
                <div class="flexrow flex-group-center">
                    <label class="resource-label">{{localize "CTHACK.OpponentArmor"}}</label>
                    <input name="system.armor" type="text" value="{{data.system.armor}}" data-dtype="Number"/>
                </div>
                <div class="flexrow flex-group-center">
                    <label class="resource-label">{{localize "CTHACK.OpponentTouchMalus"}}</label>
                    <input name="system.malus" type="text" value="{{data.system.malus}}" data-dtype="Number"/>
                </div>
            </div>  
            </div>
        </div>
        
    </header>
    {{!-- Sheet Body --}}
    <section class="sheet-body">

        <h2>Description</h2>
        <div>
            {{editor enrichedDescription target="system.description" button=true owner=owner editable=editable}}
        </div>

        <h2>Attaques</h2>
        <div>            
             <ol class="items-list">
                <li class=" item-header flexrow">
                  <div class="item-header-name">{{localize "CTHACK.Name"}}</div>
                  <div>{{localize "CTHACK.Damage"}}</div>
                  <div>{{localize "CTHACK.DamageDice"}}</div>
                  <div class="item-controls-header">
                    <a class="item-control attack-create" title='{{localize "CTHACK.Add"}}' data-type="attack"><i class="fas fa-plus"></i> {{localize "CTHACK.Add"}}</a>
                  </div>
                </li>
                {{#each attacks as |attack id|}}
                  {{> "systems/cthack/templates/actor/parts/opponent-attack.hbs" attack}}
                {{/each}}
            </ol>
        </div>
        
    </section>
</form>
