<div class="search-dialog {{cssClass}}">
  <h3>{{localize "SEARCHTOOL.DialogTitle"}}</h3>
  <label for="searchtext">{{localize "SEARCHTOOL.DialogInput"}}</label>
  <input name="searchtext" type="text" />
  <div class="dialog-buttons">
    {{#each buttons as |button id|}}
      <button class="dialog-button {{cssClass}}" data-button="{{id}}" {{disabled button.disabled}}>
        {{{button.icon}}}
        {{{button.label}}}
      </button>
    {{/each}}
  </div>
</div>