<div class="cthack ask-roll">
    <h4 class="ask-roll-title">{{text}}</h4>
    <a class="ask-roll-dice" data-type="{{rollType}}" data-resource="{{resource}}">
        <i class="fas fa-dice-d20" title="{{localize 'GMMANAGER.LetsRoll'}}"></i>  {{localize 'GMMANAGER.LetsRoll'}} !
    </a>
</div>