<div class="chat-save-roll">
    <h4 class="chat-save-roll-title">Jet de SAUVEGARDE de : {{rollId}}</h4>
    <div >
    {{#if advantageFromDialog}}<span>{{localize "CHAT.RollWithAdvantageFromDialog"}}<br></span>{{/if}}{{#if disadvantageFromDialog}}<span>{{localize "CHAT.RollWithDisadvantageFromDialog"}}<br></span>{{/if}}
    {{#if advantage}}<span>{{localize "CHAT.RollWithAdvantage"}}<br></span>{{/if}}{{#if disadvantage}}<span>{{localize "CHAT.RollWithDisadvantage"}}<br></span>{{/if}}
    {{#if (isModifierPositive modifier)}}<span>{{ localize "CHAT.RollWithBonus" modifier=modifier }}<br></span>{{/if}}
    {{#if (isModifierNegative modifier)}}<span>{{ localize "CHAT.RollWithMalus" modifier=modifier }}<br></span>{{/if}}
    {{#if isSuccess}}C'est un succès !{{else}}C'est un échec !{{/if}}
    </div>
</div>
<div class="dice-roll chat-save-roll">
        <div class="dice-result">
            <h4 class="dice-total">{{total}}</h4>
            {{> "systems/cthack/templates/chat/tooltip.hbs"}}
            <div class="dice-formula">{{formula}}</div>                                                            
        </div>
</div>
