<div class="search-chat {{cssClass}}">
  <h3>{{localize "SEARCHTOOL.ChatIntro"}}</h3>
  <div class="motif">{{localize "SEARCHTOOL.ChatText"}}{{searchPattern}}</div>
  <div class="btn-highlight"><button id="highlight" data-tooltip="SEARCHTOOL.HighlightTooltip">{{localize "SEARCHTOOL.HighlightButton"}}</button></div>
  {{#if hasresults}}
    {{#if TooManyResults}}
      {{localize "SEARCHTOOL.TooManyResults"}}
    {{else}}
      {{#if pageresults}}
        <h4 class="search-header">{{localize "DOCUMENT.JournalEntryPages"}}</h4>
        <div>
          {{#each pageResultCollection as |page|}}
            {{page.journalName}}
            - @UUID[JournalEntry.{{page.journalId}}.JournalEntryPage.{{page.id}}]<br />
          {{/each}}
        </div>
      {{/if}}
      {{#if actorresults}}
        <h4 class="search-header">{{localize "DOCUMENT.Actors"}}</h4>
        <div>
          {{#each actorResultCollection as |actor|}}
            <div class="search-result">@UUID[Actor.{{actor._id}}]</div>
          {{/each}}
        </div>
      {{/if}}
      {{#if itemresults}}
        <h4 class="search-header">{{localize "DOCUMENT.Items"}}</h4>
        <div>
          {{#each itemResultCollection as |item|}}
            <div class="search-result">@UUID[Item.{{item._id}}]</div>
          {{/each}}
        </div>
      {{/if}}
    {{/if}}
  {{else}}
    {{localize "SEARCHTOOL.NoResults"}}
  {{/if}}
</div>