{{!log "Cthulhu Hack | archetype" this}}
<section class="archetype-section">
    <div class="archetype-header">
      <div class="archetype-header-left">
        {{#if unlocked}}
          <img class="editable-image" data-action="editImage" data-uuid="{{item.uuid}}" src="{{item.img}}" data-edit="img" data-tooltip="{{localize 'TOOLTIPS.SelectImage'}}" />
        {{else}}
          <img src="{{item.img}}" />
        {{/if}}
      </div>
      <div class="archetype-header-right">
        <div class="item-description">
          {{#if unlocked}}
            <div class="field-name description">{{localize "CTHACK.Description"}}</div>
          {{else}}
            {{#if hasDescription}}
              <div class="field-name description">{{localize "CTHACK.Description"}}</div>
            {{/if}}
          {{/if}}
          <div class="description-content">
            {{formInput systemFields.description enriched=enrichedDescription value=system.description name="system.description" toggled=true}}
          </div>
        </div>
      </div>
    </div>
    <div class="archetype-grid">
      {{formGroup systemFields.flashlights name="system.flashlights" value=systemSource.flashlights localize=true disabled=locked}}
      {{formGroup systemFields.smokes name="system.smokes" value=systemSource.smokes localize=true disabled=locked}}
      {{formGroup systemFields.sanity name="system.sanity" value=systemSource.sanity localize=true disabled=locked}}
      {{formGroup systemFields.hitpoints name="system.hitpoints" value=systemSource.hitpoints localize=true disabled=locked}}
      {{formGroup systemFields.hitdice name="system.hitdice" value=systemSource.hitdice localize=true disabled=locked}}
      {{formGroup systemFields.armeddamage name="system.armeddamage" value=systemSource.armeddamage localize=true disabled=locked}}
      {{formGroup systemFields.wealthStart name="system.wealthStart" value=systemSource.wealthStart localize=true disabled=locked}}
      {{formGroup systemFields.wealthDice name="system.wealthDice" value=systemSource.wealthDice localize=true disabled=locked}}
      {{formGroup systemFields.unarmeddamage name="system.unarmeddamage" value=systemSource.unarmeddamage localize=true disabled=locked}}
      {{formGroup systemFields.primarysave name="system.primarysave" value=systemSource.primarysave localize=true disabled=locked}}
      {{formGroup systemFields.secondarysave1 name="system.secondarysave1" value=systemSource.secondarysave1 localize=true disabled=locked}}
      {{formGroup systemFields.secondarysave2 name="system.secondarysave2" value=systemSource.secondarysave2 localize=true disabled=locked}}
    </div>
</section>