{{!log "Cthulhu Hack | archetype" this}}
<section class="archetype-section">
    <div class="archetype-header">
      <div class="archetype-header-left">
        {{#if isEdit}}
          <img class="editable-image" data-action="editImage" data-uuid="{{item.uuid}}" src="{{item.img}}" data-edit="img" data-tooltip="{{localize 'TOOLTIPS.SelectImage'}}" />
        {{else}}
          <img src="{{item.img}}" />
        {{/if}}
      </div>
      <div class="archetype-header-right">
        <div class="item-description">
          {{#if isEdit}}
            <div class="field-name description">{{localize "CTHACK.Description"}}</div>
          {{else}}
            {{#if hasDescription}}
              <div class="field-name description">{{localize "CTHACK.Description"}}</div>
            {{/if}}
          {{/if}}
          <div class="description-content">
            {{formInput systemFields.description enriched=enrichedDescription value=system.description name="system.description" toggled=true}}
          </div>
        </div>
      </div>
    </div>
    <div class="archetype-grid">
      {{formGroup systemFields.flashlights value=systemSource.flashlights localize=true disabled=isPlay}}
      {{formGroup systemFields.smokes value=systemSource.smokes localize=true disabled=isPlay}}
      {{formGroup systemFields.sanity value=systemSource.sanity localize=true disabled=isPlay}}
      {{formGroup systemFields.hitpoints value=systemSource.hitpoints localize=true disabled=isPlay}}
      {{formGroup systemFields.hitdice value=systemSource.hitdice localize=true disabled=isPlay}}
      {{formGroup systemFields.armeddamage value=systemSource.armeddamage localize=true disabled=isPlay}}
      {{formGroup systemFields.wealthStart value=systemSource.wealthStart localize=true disabled=isPlay}}
      {{formGroup systemFields.wealthDice value=systemSource.wealthDice localize=true disabled=isPlay}}
      {{formGroup systemFields.unarmeddamage value=systemSource.unarmeddamage localize=true disabled=isPlay}}
      {{formGroup systemFields.primarysave value=systemSource.primarysave localize=true disabled=isPlay}}
      {{formGroup systemFields.secondarysave1 value=systemSource.secondarysave1 localize=true disabled=isPlay}}
      {{formGroup systemFields.secondarysave2 value=systemSource.secondarysave2 localize=true disabled=isPlay}}
    </div>
</section>