{{!log "Cthulhu Hack | definition" this}}
<section class="definition-section">
    <div class="item-header">
        <input name="name" type="text" value="{{item.name}}"{{#if locked}} disabled{{/if}} />
        <div class="item-header-row">
            <div class="item-image">
                {{#if unlocked}}
                    <img class="editable-image" data-action="editImage" data-uuid="{{item.uuid}}" src="{{item.img}}" data-edit="img" data-tooltip="{{localize 'TOOLTIPS.SelectImage'}}" />
                {{else}}
                    {{#unless hasDefaultImage}}
                        <img src="{{item.img}}" />
                    {{/unless}}                        
                {{/if}}
            </div>
        </div>
    </div>

  <div class="item-properties grid-2">
      {{formGroup systemFields.definitionType name="system.definitionType" value=systemSource.definitionType localize=true disabled=locked}}
      {{formGroup systemFields.key name="system.key" value=systemSource.key localize=true disabled=locked}}
  </div>

  <div class="item-description">
    {{#if unlocked}}
      <fieldset>
        <legend>{{localize "CTHACK.Description"}}</legend>
        <div class="description-content">
          {{formInput systemFields.description enriched=enrichedDescription value=system.description name="system.description" toggled=true}}
        </div>
      </fieldset>
    {{else}}
      {{#if system.hasDescription}}
        <fieldset>
          <legend>{{localize "CTHACK.Description"}}</legend>
          <div class="description-content">
            {{formInput systemFields.description enriched=enrichedDescription value=system.description name="system.description" toggled=true}}
          </div>
        </fieldset>
      {{/if}}
    {{/if}}
  </div>
</section>