<form class="{{cssClass}}" autocomplete="off">
    {{log 'item' this}}
    <header class="sheet-header">
        <img class="item-image" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <div class="item-name"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></div>
            <div class="sheet-lock">
                {{#if editable}}
                    <i class="fas fa-lock-open" data-tooltip="Verrouiller la fiche"></i>
                {{else}}
                    <i class="fas fa-lock" data-tooltip="Déverrouiller la fiche"></i>
                {{/if}}
            </div>
            <div class="item-item resource">
                <label class="resource-label">{{localize "CTHACK.ItemDiceName"}}</label>
                <select name="system.dice" data-type="String" {{{getStyleForDice item.system.dice}}} >
                    {{#select item.system.dice}}
                        {{>"systems/cthack/templates/parts/dice-sides-options-value.hbs"}}
                    {{/select}}
                </select>
            </div>
        </div>
    </header>

    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor enrichedDescription target="system.description" button=true owner=owner editable=editable}}
        </div>

    </section>
</form>
