<form class="{{cssClass}}" autocomplete="off">
    {{log "magie" this}}
        <div class="magic-title">
            {{#if editable}}
                <img src="{{item.img}}" data-edit="img" data-tooltip="Clic gauche pour sélectionner une image" />
            {{else}}
                <img src="{{item.img}}" />
            {{/if}}
            {{#if editable}}
                <input name="name" type="text" value="{{item.name}}" />
            {{else}}
                <div class="name">{{item.name}}</div>
            {{/if}}
            <div class="sheet-lock">
                {{#if editable}}
                    <i class="fas fa-lock-open" data-tooltip="Verrouiller la fiche"></i>
                {{else}}
                    <i class="fas fa-lock" data-tooltip="Déverrouiller la fiche"></i>
                {{/if}}
            </div>
        </div>
        <div class="magic-content">
            <div class="magic-grid">
                <div class="data-group">
                    <div class="field-name">{{localize "CTHACK.Type"}}</div>
                    <select class="select-subtype" name="system.subtype" data-type="String">
                        {{#select item.system.subtype}}
                        <option value="spell">{{localize "CTHACK.Spell"}}</option>
                        <option value="ritual">{{localize "CTHACK.Ritual"}}</option>
                        {{/select}}
                    </select>
                </div>
                <div class="data-group">
                    <div class="field-name">{{localize "CTHACK.Sanitation"}}</div>
                    <select class="select-sanitation" name="system.dice" data-type="String" {{{getStyleForDice item.system.dice}}}>
                        {{#select item.system.dice}}
                        {{>"systems/cthack/templates/parts/dice-sides-options-value.hbs"}}
                        {{/select}}
                    </select>
                </div>
                <div class="data-group">
                    <div class="field-name">{{localize "CTHACK.Incantation"}}</div>
                    <input class="input-incantation" name="system.incantation" type="text"
                        value="{{item.system.incantation}}" />
                </div>
            </div>
            <div class="magic-description">
                {{#if editable}}
                    <div class="field-name description">{{localize "CTHACK.Description"}}</div>
                {{else}}
                    {{#if hasDescription}}
                        <div class="field-name description">{{localize "CTHACK.Description"}}</div>
                    {{/if}}
                {{/if}}                
                <div class="description-content">
                    {{editor enrichedDescription target="system.description" button=true engine="prosemirror"
                    owner=owner editable=editable}}
                </div>
            </div>
        </div>
</form>