{{!log "Cthulhu Hack | magic" this}}
<section class="magic-section">
    <div class="item-header">
        <input name="name" type="text" value="{{item.name}}"{{#if isPlay}} disabled{{/if}} />
        <div class="item-header-row">
            <div class="item-image">
                {{#if isEdit}}
                    <img class="editable-image" data-action="editImage" data-uuid="{{item.uuid}}" src="{{item.img}}" data-edit="img" data-tooltip="{{localize 'TOOLTIPS.SelectImage'}}" />
                {{else}}
                    {{#unless hasDefaultImage}}
                        <img src="{{item.img}}" />
                    {{/unless}}                        
                {{/if}}
            </div>
            <div class="form-group material">
                <label>{{localize "CTHACK.Sanitation"}}</label>
                <div class="form-fields">
                    {{#if isEdit}}
                        <select {{#if isPlay}}disabled{{/if}} class="select-dice-material" name="system.dice">
                            {{selectOptions diceValues selected=system.dice blank="CTHACK.None" localize=true}}
                        </select>
                    {{else}}
                        {{#if item.system.hasDice}}
                                <img {{{getDiceImg item.system.dice}}} class="item-dice-select" data-tooltip="{{item.system.dice}}"/>
                        {{/if}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>

    <div class="item-properties grid-2">     
        {{formGroup systemFields.subtype value=systemSource.subtype localize=true disabled=isPlay}}       
        {{formGroup systemFields.incantation value=systemSource.incantation localize=true disabled=isPlay}}       
    </div>


    <div class="item-description">
        {{#if isEdit}}
            <fieldset>
                <legend>{{localize "CTHACK.Description"}}</legend>
                <div class="description-content">
                    {{formInput systemFields.description enriched=enrichedDescription value=system.description name="system.description" toggled=true}}
                </div>
            </fieldset>
        {{else}}
            {{#if system.hasDescription}}
                <fieldset>
                    <legend>{{localize "CTHACK.Description"}}</legend>
                    <div class="description-content">
                        {{formInput systemFields.description enriched=enrichedDescription value=system.description name="system.description" toggled=true}}
                    </div>
                </fieldset>
            {{/if}}
        {{/if}}
    </div>
       
</section>>