<form class="{{cssClass}}" autocomplete="off">
    {{!log "magie" this}}
        <div class="item-header">
            {{#if editable}}
                <img class="editable-image" src="{{item.img}}" data-edit="img" data-tooltip="{{localize 'TOOLTIPS.SelectImage'}}" />
            {{else}}
                <img src="{{item.img}}" />
            {{/if}}
            {{#if editable}}
                <input name="name" type="text" value="{{item.name}}" />
            {{else}}
                <div class="name">{{item.name}}</div>
            {{/if}}
            <div class="sheet-lock">
                {{#if editable}}
                    <i class="fas fa-lock-open" data-tooltip="{{localize 'TOOLTIPS.LockSheet'}}"></i>
                {{else}}
                    <i class="fas fa-lock" data-tooltip="{{localize 'TOOLTIPS.UnlockSheet'}}"></i>
                {{/if}}
            </div>
        </div>
        <div class="magic-body">
            <div class="magic-grid">
                <div class="data-group">
                    <div class="field-name">{{localize "CTHACK.Type"}}</div>
                    <select class="select-subtype" name="system.subtype" data-type="String">
                        {{selectOptions magicTypes selected=item.system.subtype labelAttr="label" localize=true}}
                    </select>
                </div>
                <div class="data-group">
                    <div class="field-name">{{localize "CTHACK.Sanitation"}}</div>
                    <select class="select-sanitation" name="system.dice" data-type="String" {{{getStyleForDice item.system.dice}}}>
                        {{selectOptions diceValues selected=item.system.dice blank="CTHACK.None" localize=true}}
                    </select>
                </div>
                <div class="data-group">
                    <div class="field-name">{{localize "CTHACK.Incantation"}}</div>
                    <input class="input-incantation" name="system.incantation" type="text"
                        value="{{item.system.incantation}}" />
                </div>
            </div>
            <div class="item-description">
                {{#if editable}}
                    <div class="field-name description">{{localize "CTHACK.Description"}}</div>
                {{else}}
                    {{#if hasDescription}}
                        <div class="field-name description">{{localize "CTHACK.Description"}}</div>
                    {{/if}}
                {{/if}}                
                <div class="description-content">
                    {{editor enrichedDescription target="system.description" button=true engine="prosemirror"
                    owner=owner editable=editable}}
                </div>
            </div>
        </div>
</form>