<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="item-image" src="{{itemData.img}}" data-edit="img" title="{{itemData.name}}"/>
        <div class="header-fields">
            <h1 class="item-name"><input name="name" type="text" value="{{itemData.name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "CTHACK.Description"}}</a>
        <a class="item" data-tab="attributes">{{localize "CTHACK.Attributes"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body item-ability">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=systemData.description target="data.description" button=true owner=owner editable=editable}}
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <div class="form-group">
                <label>{{localize "CTHACK.AbilityKey"}}</label>
                <div class="form-fields">
                    <input class="field-value input-key" name="data.key" type="text" value="{{systemData.key}}" data-dtype="String" {{isAbilityKeyReadOnly systemData.key}}>
                </div>
            </div>
            <div class="form-group">
                <label for="data.uses.per">{{localize "CTHACK.AbilityUsePer"}}</label>
                <select name="data.uses.per" data-type="String">
                    {{#select systemData.uses.per}}
                        <option value="Permanent">{{localize "CTHACK.AbilityUsePermanent"}}</option>
                        <option value="Session">{{localize "CTHACK.AbilityUsePerSession"}}</option>
                        <option value="Hour">{{localize "CTHACK.AbilityUsePerHour"}}</option>
                        <option value="Scene">{{localize "CTHACK.AbilityUsePerScene"}}</option>
                        <option value="Fight">{{localize "CTHACK.AbilityUsePerFight"}}</option>>
                    {{/select}}
                </select>
            </div>
            <div class="form-group">
                <label>{{localize "CTHACK.AbilityUseValueDtl"}}</label>
                <div class="form-fields">
                    <input class="field-value" name="data.uses.value" type="text" value="{{systemData.uses.value}}" data-dtype="Number">
                </div>
            </div>
            <div class="form-group">
                <label>{{localize "CTHACK.AbilityUseMax"}}</label>
                <div class="form-fields">
                    <input class="field-value" name="data.uses.max" type="text" value="{{systemData.uses.max}}" data-dtype="Number">
                </div>
            </div>
            <div class="form-group">
                <label>{{localize "CTHACK.AbilityUseLast"}}</label>
                <div class="form-fields">
                    <input class="field-value" name="data.uses.last" type="text" value="{{systemData.uses.last}}" data-dtype="String">
                </div>
            </div>        
            <div class="form-group">
                <label>{{localize "CTHACK.AbilityMultiple"}}</label>
                <div class="form-fields ability-checkbox">
                    <input class="checkbox" name="data.multiple" type="checkbox" {{checked systemData.multiple}}>
                </div>
            </div>
            <div class="form-group">
                <label>{{localize "CTHACK.AbilityIsCustom"}}</label>
                <div class="form-fields ability-checkbox">
                    <input class="checkbox" name="data.isCustom" type="checkbox" {{checked systemData.isCustom}}>
                </div>
            </div>        
            <div class="form-group">
                <label>{{localize "CTHACK.AbilityAdvantageGiven"}}</label>
                <div class="form-fields ability-checkbox">
                    <input class="checkbox" name="data.advantageGiven" type="checkbox" {{checked systemData.advantageGiven}}>
                </div>
            </div> 
             <div class="form-group">
                <label class="advantage">{{localize "CTHACK.AbilityAdvantageText"}}</label>
                <div class="form-fields ability-checkbox">
                    <input class="field-value" name="data.advantageText" type="text" value="{{systemData.advantageText}}" data-dtype="String">
                </div>
            </div>  
        </div>
    </section>
</form>
