<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "CTHACK.Description"}}</a>
        <a class="item" data-tab="attributes">{{localize "CTHACK.Attributes"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <div class="form-group">
                <label>{{localize "CTHACK.AbilityKey"}}</label>
                <div class="form-fields">
                    <input class="field-value input-key" name="data.key" type="text" value="{{data.key}}" data-dtype="String" {{isAbilityKeyReadOnly data.key}}>
                </div>
            </div>
            <div class="form-group">
                <label for="data.uses.per">{{localize "CTHACK.AbilityUsePer"}}</label>
                <select name="data.uses.per" data-type="String">
                {{#select data.uses.per}}
                    <option value="Permanent">{{localize "CTHACK.AbilityUsePermanent"}}</option>
                    <option value="Session">{{localize "CTHACK.AbilityUsePerSession"}}</option>
                    <option value="Hour">{{localize "CTHACK.AbilityUsePerHour"}}</option>
                    <option value="Fight">{{localize "CTHACK.AbilityUsePerFight"}}</option>>
                {{/select}}
                </select>
            </div>
            <div class="form-group">
                <label>{{localize "CTHACK.AbilityUseValueDtl"}}</label>
                <div class="form-fields">
                    <input class="field-value" name="data.uses.value" type="text" value="{{data.uses.value}}" data-dtype="Number">
                </div>
            </div>
            <div class="form-group">
                <label>{{localize "CTHACK.AbilityUseMax"}}</label>
                <div class="form-fields">
                    <input class="field-value" name="data.uses.max" type="text" value="{{data.uses.max}}" data-dtype="Number">
                </div>
            </div>
            <div class="form-group">
                <label>{{localize "CTHACK.AbilityUseLast"}}</label>
                <div class="form-fields">
                    <input class="field-value" name="data.uses.last" type="text" value="{{data.uses.last}}" data-dtype="String">
                </div>
            </div>        
            <div class="form-group">
                <label>{{localize "CTHACK.AbilityMultiple"}}</label>
                <div class="form-fields">
                    <input class="checkbox" name="data.multiple" type="checkbox" {{checked data.multiple}}>
                </div>
            </div>
            <div class="form-group">
                <label>{{localize "CTHACK.AbilityIsCustom"}}</label>
                <div class="form-fields">
                    <input class="checkbox" name="data.isCustom" type="checkbox" {{checked data.isCustom}}>
                </div>
            </div>        
            <div class="form-group">
                <label>{{localize "CTHACK.AbilityAdvantageGiven"}}</label>
                <div class="form-fields">
                    <input class="checkbox" name="data.advantageGiven" type="checkbox" {{checked data.advantageGiven}}>
                </div>
            </div> 
             <div class="form-group">
                <label>{{localize "CTHACK.AbilityAdvantageText"}}</label>
                <div class="form-fields">
                    <input class="field-value" name="data.advantageText" type="text" value="{{data.advantageText}}" data-dtype="String">
                </div>
            </div>  
        </div>
    </section>
</form>
