<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="item-image" src="{{img}}" data-edit="img" title="{{data.name}}"/>
        <div class="header-fields">
            <h1 class="item-name"><input name="name" type="text" value="{{data.name}}" placeholder="Name"/></h1>
            <div class="grid grid-2col item-weapon">
              <div class="resource">
                <label class="resource-label">{{localize "CTHACK.Material"}}</label>
                <select name="system.dice" data-type="String" {{{getStyleForDice system.dice}}}>
                    {{#select data.system.dice}}
                        {{>"systems/cthack/templates/parts/dice-sides-options-value.hbs"}}
                    {{/select}}
                </select>
              </div>
              <div class="resource">
                <label class="resource-label">{{localize "CTHACK.ItemRangeName"}}</label>
                <select name="system.range" data-type="String" class="select-range">
                    {{#select data.system.range}}
                        <option value="">{{localize "CTHACK.None"}}</option>
                        <option value="near">{{localize "CTHACK.RangeNear"}}</option>
                        <option value="far">{{localize "CTHACK.RangeFar"}}</option>
                        <option value="distant">{{localize "CTHACK.RangeDistant"}}</option>
                        <option value="3str">{{localize "CTHACK.RangeThreeStr"}}</option>
                    {{/select}}
                </select>
              </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor data.system.description target="system.description" button=true owner=owner editable=editable}}
        </div>

    </section>
</form>
